.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    cursor: pointer;
}

.google-icon-wrapper {
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.google-icon {
    display: block;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.btn-text {
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}
.google-btn:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}